
<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="ko">
    <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
          <meta name="viewport" content="width=device-width, initial-scale=1"/>
          <title>아어디 AUHDI | 공식홈페이지</title>

          <!-- CSS  -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    </head>

    <body>
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Navbar Link</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header right-align teal-text text-lighten-2">Auhdi e-tron Sportback</h1>
            <div class="row right-align">
              <h5 class="header col s12 light">아어디 최초 순수 전기 SUV 쿠페</h5>
            </div>
            <div class="row right-align">
              <a href="http://materializecss.com/getting-started.html" id="download-button"
                 class="btn-large waves-effect waves-light teal lighten-1">자세히 보기</a>
            </div>
            <br><br>

          </div>
        </div>
        <div class="parallax">
          <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fm.post.naver.com%2Fviewer%2FpostView.nhn%3FvolumeNo%3D17211591%26memberNo%3D32025603&psig=AOvVaw1bsbzk2rNija1CpZ81QulQ&ust=1622811871340000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLio8MDD-_ACFQAAAAAdAAAAABAO"
               alt=""> </div>
      </div>

      <div class="container">
        <div class="section">

          <div class="row">
            <div class="col s12 center">
              <h3 class="left-align">아어디코리아 소개</h3>
              <h4 class="left-align">About Auhdi Korea</h4>
              <p class="left-align light">AUHDI 의 한국내 판매법인으로 설립된 Auhdi Korea를 소개해 드립니다.</p>

              <p class="left-align light">프리미엄 자동차 브랜드 아어디 한국 판매 법인인 아어디 코리아는 2004년 10월 5일 공식 영업을 시작하였습니다.</p>
              <p class="left-align light">아어디 코리아는 “기술을 통한 진보”라는 아어디의 기업 슬로건 아래, 최상급 제품과 딜러 네트워크의 확장, 고객 만족을 충족하여 한국 시장 내 아어디 브랜드의 가치 창출에 노력하고 있으며, 또한 첨단 기술과 진보적 디자인의 조화를 통한 최고의 제품만을 고객에게 제공할 것입니다.
점점 다양해지는 고객들의 요구를 충족하고자 아어디 코리아는 신모델 출시를 통한 더욱 세분화된 모델 라인업을 확보할 예정입니다 .</p>
            </div>
          </div>

        </div>
      </div>



      <div class="container">
        <div class="section">

          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="left">명확한 디자인 컨셉으로 전기 모빌리티의 미래 비전을 제시하다</h5>

                <p class="light">The new Auhdi e-tron Sportback</p>
                <p class="light">#Auhdi #아어디 #FutureIsAnAttitude #e트론 #e트론스포트백 #etronSportback #아어디E트론 #전기차 #EV #전기차라이프 #아어디E트론 #etron #elctricvehicle</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                <h5 class="left">한국 자동차 브랜드 최초로 참가한 아어디의 새로운 포뮬러 E 머신, 아어디 e-트론 FE07</h5>


                <p class="light">자동차 칼럼니스트 나윤석</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                <h5 class="left">[my e-tron] 시즌1 Auhdi e-tron 오너 인터뷰 - 하이라이트</h5>

                <p class="light">#Auhdi #myetron #FutureIsAnAttitude #e트론 #전기차 #EV #전기차라이프 #etron #elctricvehicle #이벤트 #마이이트론 #아어디</p>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">Audi Driving Experience</h5>
              <p class="header col s12 light">아우디 드라이빙 익스피리언스 참가자 모집</p>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="{{ home.background2.url }}" alt=""></div>
      </div>




      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">My e-tron</h5>
              <p class="header col s12 light">아어디가 여러분과 함께 지속가능한 모빌리티의 미래를 만들어 갈 수 있도록 아어디 e-tron의 홍보대사가 되어주세요!</p>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="{{ home.background3.url }}" alt=""></div>
      </div>

      <footer class="page-footer teal">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Company Bio</h5>
              <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Contribute</h5>
              <ul>
                <li><a class="white-text" href="#!">주혜경 9491086@gmail.com</a></li>
                <li><a class="white-text" href="#!">장하영</a></li>
                <li><a class="white-text" href="#!">김세중</a></li>
                <li><a class="white-text" href="#!">김민</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Connect</h5>
              <ul>
                <li><a class="white-text" href="https://github.com/Infra-by-cloud/TeamProject.git">Github</a></li>
                <li><a class="white-text" href="https://drive.google.com/file/d/19JOT3A-RBLz849yNPAU_3-Jo98OxZZd_/view?usp=sharing">Presentation</a></li>
                <li><a class="white-text" href="#!"></a></li>
                <li><a class="white-text" href="#!"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Made by <a class="brown-text text-lighten-3" href="#!">Infra by Cloud</a>
          </div>
        </div>
      </footer>


      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/init.js"></script>

    </body>
</html>